.App {
  text-align: center;
}

/* CSS attributes of general block post */
.blockers{
  height: 300px;
  width: 300px;
  margin: 60px;
  position: relative;
}


/* Comment placeholder {Must change if you choose to implement comment portion}*/
.bottom{
  width: 300px;
  height: 40px;
  background-color: rgb(212, 212, 212);
  margin-top: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white{
  width: 250px;
  height: 25px;
  background-color: white;

}

/* Alignment for feed so that everythings falls in the center*/
.mainfeed{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* CSS Atributes for area where you input new block posts */
.input{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/* CSS Atributes for color chooser button */

.button {
  background-color: #a0a0a0;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: fixed;
  right: 150px;
  top: 200px;
  border-radius: 30px;
}

.button:hover{
  background-color: #cecece;
}

.pickblock{
  height: 350px;
  width: 300px;
  margin: 60px;
  background-color: #a0a0a0;
  position: fixed;
  right: 20px;
  top: 250px;
  display: flex;
  align-items: center;
  justify-content: center;

}







/* COLORS */

/* Feel free to add more colors or change them if you deem necessary   */


.red{
  height: 75px;
  width: 75px;
  background-color: rgb(134, 5, 5);
  margin: 30px;
  border-radius: 10px;
  border: 0px;
}

.red:hover{
  background-color: rgb(187, 84, 84);
}

.blue{
  height: 75px;
  width: 75px;
  background-color: rgb(21, 0, 141);
  margin: 30px;
  border-radius: 10px;
  border: 0px;
}

.blue:hover{
  background-color: rgb(90, 80, 145);
}

.green{
  height: 75px;
  width: 75px;
  background-color: rgb(59, 110, 0);
  margin: 30px;
  border-radius: 10px;
  border: 0px;
}

.green:hover{
  background-color: rgb(109, 126, 90);
}

.purple{
  height: 75px;
  width: 75px;
  background-color: rgb(58, 0, 97);
  margin: 30px;
  border-radius: 10px;
  border: 0px;
}

.purple:hover{
  background-color: rgb(80, 65, 90);
}
